/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
    background-color: blanchedalmond;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
